<audio src="bruh.mp3" id="bruh-sound"></audio>
<div class="header">
    <h1>Blue&nbsp;Chess</h1>
    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#" id="bruh-button" onclick="document.getElementById('bruh-sound').play();">Bruh</a></li>
    </ul>
</div>
<hr>