<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="styles/styles.css">
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
</head>
<body>
    <%- include('partials/header.ejs'); %>
    <div class="container blue lighten-2 z-depth-4" style="max-width: 30vw; min-width: 400px;">
        <div class="row">
            <h2 class="col s12" style="text-align: center;">Register</h2>
        </div>
        <form action="/register" method="POST" class="row container">
            <div class="input-field col s12">
                <input type="text" name="username" id="username">
                <label for="username">Username</label>
            </div>
            <div class="input-field col s12">
                <input type="email" name="email" id="email">
                <label for="email">Email</label>
            </div>
            <div class="input-field col s12">
                <input type="password" name="password" id="password">
                <label for="password">Password</label>
            </div>
            <div class="input-field col s12">
                <input type="password" name="confirmPassword" id="confirmPassword">
                <label for="confirmPassword">Confirm password</label>
            </div>
            <button type="submit" class="row btn col s12 blue darken-1">Register</button>
        </form>

    </div>
    <%- include('partials/firebase.ejs'); %>
</body>
</html>