html {
    font-family: sans-serif;
  }
:root{
    --board-size: 70vh;
    --cell-size: calc(var(--board-size)*.1225);
    --edge-size: calc((var(--board-size) - (8*var(--cell-size))) * 0.5);
}
body{
    margin:0;
    background-color: rgb(60, 60, 255);
}
.header{
    text-align: center;
}
hr {
    margin: 25px;
}
.header h1{
    padding:0;
    margin:0;
    height: 4vh;
    font-size:4vh;
}
.header-button:hover{
    background-color: rgba(255, 255, 255, 100);
}
.board{
    width: var(--board-size);
    height: var(--board-size);
    background-image: url("../img/rect-8x8.svg");
    background-size: contain;
    margin: auto;
}
img{
user-select: none;
-moz-user-select: none;
-webkit-user-drag: none;
-webkit-user-select: none;
-ms-user-select: none;
}

/* fomrs =================================== */

/* label color */
.modal-content.input-field label {
    color: black;
  }
  /* label focus color */
  .col.s12.input-field input[type]:focus + label {
    color: black;
  }
  /* label underline focus color */
  .col.s12.input-field input[type]:focus {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
  }
  .col.s12.input-field input[type] + label {
    color: black;
  }
  /* label underline focus color */
  .col.s12.input-field input[type] {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
  }
  /* valid color */
  .col.s12.input-field input[type].valid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
  }
  /* invalid color */
  .col.s12.input-field input[type].invalid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
  }
  /* icon prefix focus color */
  .col.s12.input-field .prefix.active {
    color: #000;
  }